use master
go


if exists(select * from sysdatabases where name = 'webContest')
drop database webContest
go

create database webContest
go

use webContest
go

if exists(select * from dbo.sysobjects where name='userInfo')  
drop table userInfo  
go


if exists(select * from dbo.sysobjects where name='writeInfo')  
drop table writeInfo  
go

if exists(select * from dbo.sysobjects where name='dealInfo')  
drop table dealInfo  
go

create table userInfo
(
	uid int primary key identity(1,1),
	stuNumber int not null unique,
	password varchar(16) not null,
	stuName varchar(20),
	realName varchar(10) not null,
	sex int  not null,
	tel varchar(11),
	classes varchar(50),
	dormitory varchar(50)
)
go

insert into userInfo values(2018101001,'admin','admin','admin',0,'123456','HP','教师公寓'),
							(2018104396,'123456','star','王航航',0,'18791288755','高软HP4','教师公寓618'),
							(2018104399,'123456','滑稽','弓桐伟',0,'18791288756','高软HP4','教师公寓615'),
							(2018104403,'123456','唐机辰红豆','田科技',0,'18791288757','高软HP4','教师公寓618'),
							(2018104388,'123456','浅忆','高玉鹏',0,'18791288758','高软HP4','教师公寓618')


create table writeInfo
(
	wid int primary key identity(101,1),
	userNumber int REFERENCES userInfo(stuNumber),
	title varchar(50) not null,
	creatTime DateTime,
	content varchar(255)
)
go



create table dealInfo
(
	cid int primary key identity(1001,1),
	userNumber int REFERENCES userInfo(stuNumber),
	cName varchar(50) not null,
	type varchar(20),
	money float not null,
	remarks varchar(255),
	savepath varchar(255),
	createTime Datetime,
)
go



select * from userInfo
select * from writeInfo
select * from dealInfo