/* 规定字体与取消四周边框 */
body {
	font-family: "microsoft yahei";
	margin: 0px;
	padding: 0px;
	line-height: 1.7;
	background: #ececec;
}


#scroll-1::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

#scroll-1::-webkit-scrollbar-button {
	background: whitesmoke;
}

#scroll-1::-webkit-scrollbar-track {
	background: whitesmoke;
}

#scroll-1::-webkit-scrollbar-track-piece {
	background: skyblue;
}

#scroll-1::-webkit-scrollbar-thumb {
	background: #5CB85C;
	border-radius: 4px;
}

#scroll-1::-webkit-scrollbar-corner {
	background: #82AFFF;
}

#scroll-1::-webkit-scrollbar-resizer {
	background: #FF0BEE;
}

/* input 框 */
.form-control {
	width: 90%;
	height: 25px;
	border: 1px solid #d1d5da;
	box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
	font-size: 16px;
	border-radius: 3px;
	border-radius: 5px;
	min-height: 20px;
	padding: 10px;
	margin-left: 10px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.selectall {
	border: 1px solid #d1d5da;
	box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
	font-size: 16px;
	border-radius: 3px;
	border-radius: 5px;
	min-height: 20px;
	margin-left: 10px;
}

.input_text {
	font-size: 14px;
	font-weight: 600 !important;
	margin-bottom: 5px;
	text-align: left;
	line-height: 1.5;
	color: #24292e !important;
	margin-left: 10px;
}

btn {
	border: 1px solid #ccc;
	border-radius: 2px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	height: 30px;
	padding: 0 16px;
	transition: background 0.3s ease-in-out;
	width: 220px;
}

input:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;

}

.button {
	-webkit-appearance: none;
	background: #009dff;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	letter-spacing: 0.05em;
	text-align: center;
	text-transform: uppercase;
	transition: background 0.3s ease-in-out;
	width: 100px;
}

.button:hover {

	background: #00c8ff;
}

/* 网页整体链接样式 */
a {
	color: white;
	transition: color 0.5s;
}

a:hover {
	color: deepskyblue;
}

@keyframes hover {
	from {
		color: white;
	}

	to {
		color: deepskyblue;
	}
}

a:active {
	color: white;
}

a {
	text-decoration: none;
}

/*清理浮动  */
.clear:after {
	content: "";
	display: table;
	clear: both;
}

/* 菜单栏 */
.sidebar {
	color: white;
	font-size: 20px;
	float: left;
	width: 100%;
	/* margin-left: 40px; */
	/* margin-top: 500px; */
	position: fixed;
	background: url(../img/header-bg.jpg);
}

.logo {
	margin-left: 100px;
	margin-right: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.sidebar span {
	margin-left: 50px;
	line-height: 75px;
	font-size: 16px;
}

.sidebar_float_class {
	margin-right: 30px;
}

.submit {
	margin-left: 15px;
	width: 90%;
	height: 35px;
}

.select {
	margin-right: 15px;
	width: 50px;
}

.sidebar_float {
	line-height: 75px;
	float: right;
}


/* 主页登陆 */

.loginimg {
	background-image: url(../img/header-bg.jpg);
	height: 650px;
}

.bg {
	height: 700px;
	background-image: url(../img/header-bg.jpg);
}

.everyone {
	width: 100%;
	height: 620px;
}

.xuexi {
	padding-top: 300px;
	padding-left: 100px;
	color: white;
}

.xuexi04 {
	padding-left: 100px;
	padding-left: 300px;
	margin-top: 40px;
}

.login {
	/* 	width: 300px;
	height: 300px; */
	/* float: right; */
	padding-left: 900px;
	line-height: 40px;
	text-align: left;
	margin-right: 245px;
	margin-top: -200px;
	/* background: #FFFFFF; */
	/* 	background: rgb(35,33,38); */
	color: white;
}

.zi {
	padding-top: 56px;
}

.button {
	background-color: #00c1de;
	border-color: #00c1de;
	font-size: 14px;
	width: 238px;
	height: 38px;
}

/* 右上角链接 */

.link {
	float: right;
	font-size: 15px;
	margin-right: 40px;
	margin-top: 3rem;
}

/* 贴吧正文 */
.wtext {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px;
	margin-bottom: 5px;
	border: 1px solid #d1d5da;
	box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
	border-radius: 5px;
	min-height: 20px;
	padding: 10px;

}

.creatInformation {
	font-size: 14px;
	margin-right: 20px;
}

.seeMore {
	float: right;
}

/* 标题 */
.headline {
	font-size: 50px;
	justify-content: center;
	display: flex;
	color: white;
	padding-top: 75px;
}

.footline {
	font-family: "arial narrow";
	font-size: 20px;
	display: flex;
	justify-content: center;
	color: #FFFFFF;
	padding-top: 100px;
	/* animation-iteration-count: inherit;
	animation: footline 3s infinite; */

}

/* @keyframes footline {
	0 {
		color: yellow;
	}

	33% {
		color: red;
	}

	66% {
		color: green;
	}

	100% {
		color:yellow;
	} 
}*/
.head {
	font-size: 60px;
}

.bright {
	padding-top: 100px;
	margin: 60px;
}

/* 动画 */


/* 介绍说明 */
.text {
	padding-left: 25%;
	padding-right: 25%;
}

.textimg {

	padding: 50px;
}

.introduce {
	font-size: 50px;
	color: #666;
	padding: 60px;

}

.security {
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 50px;
	background-color: #f1f1f1;
}

.foot {
	height: 90px;
	background-color: #333;
	color: #FFFFFF;
	font-size: 60px;
}

/* @keyframes an-1anm {
	from{
		transform:translateY(0px);
	}
	to{

		transform:translateY(-100px);
	}
} */

hr {
	margin-top: 2rem;
	border: 2px dashed #666;
}

/* 不变色链接 */
.Especiallink {
	color: steelblue !important;

}

/* readmore按钮 */
.readmore {
	margin-bottom: 2rem;
	font-size: 17px;
	padding: .4rem;
	color: #fff;
	background-color: #777;
	border: 2px solid #777;
	transition: color background-color border-color 0.5s;
}

.readmore:hover {
	color: deepskyblue;
	background-color: white;
	border-color: deepskyblue;
}
